@page "/error"
@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <NotAuthorized>
        <a href="/login">Login</a>
    </NotAuthorized>
    <Authorized>
        <a href="/logout">Logout</a>
        <p>Hello, @context.User.Identity?.Name!</p>
    </Authorized>
</AuthorizeView>



@code {

}