@rendermode InteractiveServer

<input type="checkbox" title="Navigation menu" id="sidebar-toggle" class="sidebar-toggler"/>

<div class="sidebar">
    <nav class="nav-scrollable">
        <div class="brand">
            <img src="Images/logo.png" width="120" height="120" alt="Elisha's Logo"/>
        </div>
        <div class="title">
            <h2>Main Menu</h2>
        </div>
        
        <div class="nav-item">
            <NavLink class="nav-link" href="adminDashboard">
                <i class="fas fa-home"></i> Dashboard
            </NavLink>
        </div>

        
        <div class="nav-item">
            <NavLink class="nav-link" href="admin_gps">
                <i class="fas fa-location-arrow"></i> GPS Tracking
            </NavLink>
        </div>

       
        <div class="nav-item">
            <NavLink class="nav-link" href="ManageReservations">
                <i class="fas fa-calendar-check"></i> Reservations
            </NavLink>
        </div>

       
        <div class="nav-item">
            <NavLink class="nav-link" href="messages">
                <i class="fas fa-envelope"></i> Inbox
            </NavLink>
        </div>

        
        <div class="nav-item">
            <NavLink class="nav-link" href="calendar">
                <i class="fas fa-calendar-alt"></i> Calendar
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="settings">
                <i class="fas fa-cogs"></i> Settings
            </NavLink>
        </div>

  
        <div class="nav-item">
            <NavLink class="nav-link" href="ManageVehicles">
                <i class="fas fa-car"></i> Vehicles
            </NavLink>
        </div>

       
        <div class="nav-item">
            <NavLink class="nav-link" href="customers">
                <i class="fas fa-user"></i> Users
            </NavLink>
        </div>
        
        <div class="nav-item">
            <NavLink class="nav-link" href="logout">
                <i class="fas fa-sign-out-alt"></i> Log Out
            </NavLink>
        </div>
    </nav>
</div>