@font-face {
    font-family: "Inter";
    src: url("font/interVariable.ttf") format("truetype");
}
@font-face {
    font-family: "Jakarta";
    src: url('font/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
}

.container[b-g8acunqr0s] {
    max-width: 1200px; /* Control overall maximum width */
    margin: 0 auto; /* Center container */
    padding: 20px;
    display: flex;
    flex-direction: column; /* Stack content vertically */
    font-family: "Jakarta", sans-serif;
}

.vehicle-calendar-wrapper[b-g8acunqr0s] {
    display: block;
    justify-content: space-between; /* Space between vehicle details and calendar */
    align-items: stretch; /* Align the children's height */
}
.vehicle-details[b-g8acunqr0s] {
    flex: 1; /* Each section takes equal width */
    margin: 10px; /* Space between sections */
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.vehicle-header[b-g8acunqr0s] {
    display: flex;
    max-width: 91.7%;
}

.calendar[b-g8acunqr0s] {
    flex: 1; /* Each section takes equal width */
    margin: 10px; /* Space between sections */
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.vehicle-photo[b-g8acunqr0s] {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1; /* Each section takes equal width */
    margin: 10px; /* Space between sections */
    background-color: #e39a3c;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.vehicle-photo img[b-g8acunqr0s] {
    width: 100%; /* Full width of the section */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px;
    align-items: center;
    justify-items: center;
}

.vehicle-info h2[b-g8acunqr0s], .vehicle-info p[b-g8acunqr0s], .vehicle-specs[b-g8acunqr0s], .price[b-g8acunqr0s] {
    text-align: left; /* Align text to the left */
}

.vehicle-specs[b-g8acunqr0s] {
    list-style: none; /* Remove bullet points */
    padding: 0;
}

.vehicle-specs li[b-g8acunqr0s] {
    margin-bottom: 5px; /* Space between list items */
}

.price h3[b-g8acunqr0s] {
    color: #f4a700; /* Highlighted color for price */
    font-size: 1.6em;
}

.rent-now[b-g8acunqr0s] {
    background-color: #f4a700;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.rent-now:hover[b-g8acunqr0s] {
    background-color: #d48f00; /* Darker shade on hover */
}

/* Calendar Styles */
.calendar[b-g8acunqr0s] {
    display: block;
    border-collapse: collapse;
    color: #242e42;
}
.calendar-title h3[b-g8acunqr0s] {
    margin: 10px;
    text-align: left;
    margin-left: 30px;
    font-weight: bold;
    color: #242e42;
}

.calendar th[b-g8acunqr0s], .calendar td[b-g8acunqr0s] {
    padding: 15px;
    border: 1px solid #ddd;
}

.calendar th[b-g8acunqr0s] {
    background-color: #f4a700;
    color: white;
}

.calendar td[b-g8acunqr0s] {
    background-color: #f8f9fa;
}

.calendar td:not(:empty):hover[b-g8acunqr0s] {
    background-color: #f4a700;
    color: white;
    cursor: pointer;
}

.calendar-days-of-week[b-g8acunqr0s] {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    text-align: center;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
}

.calendar-days-of-week div[b-g8acunqr0s] {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
/* Calendar Grid */
.calendar-grid[b-g8acunqr0s] {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    max-width: 100%;
}
/* Featured Vehicles Section */
.featured-section[b-g8acunqr0s] {
    margin-top: 30px;
}

.h2-featured[b-g8acunqr0s] {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.vehicle[b-g8acunqr0s] {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
}

.vehicle-item[b-g8acunqr0s] {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.vehicle-item img[b-g8acunqr0s] {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.vehicle-name-type[b-g8acunqr0s] {
    margin-bottom: 10px;
}

.vehicle-name[b-g8acunqr0s] {
    font-size: 1.2em;
}

.vehicle-type[b-g8acunqr0s] {
    color: #666;
    font-size: 0.9em;
}

.vehicle-specs[b-g8acunqr0s] {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.spec-item[b-g8acunqr0s] {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spec-item i[b-g8acunqr0s] {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 5px;
}

.mileage[b-g8acunqr0s], .transmission[b-g8acunqr0s], .seater[b-g8acunqr0s] {
    font-size: 0.9em;
    color: #444;
}

.price-btn[b-g8acunqr0s] {
    margin-top: 20px;
}

.price[b-g8acunqr0s] {
    font-size: 1.2em;
    color: #f4a700;
}

.rent-btn[b-g8acunqr0s] {
    background-color: #f4a700;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.rent-btn:hover[b-g8acunqr0s] {
    background-color: #d48f00;
}

/* Calendar Header */


.calendar-header[b-g8acunqr0s] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.calendar-header button[b-g8acunqr0s] {
    background-color: #e39a3c;
    color: white;
    font-weight: bold;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 30px;
    margin-right: 30px;
}

.calendar-header span[b-g8acunqr0s] {
    font-size: 1.2em;
    font-weight: bold;
}

.calendar-title[b-g8acunqr0s] {
    display: flex;
    justify-content: space-between;
    color: #242e42;
}


.calendar-title-right[b-g8acunqr0s] {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}
.calendar-title-right p[b-g8acunqr0s] {
    margin: 0px;
    align-content: center ;
    font-size: 1.1em;
    font-weight: 600;
}

.calendar-day[b-g8acunqr0s] {
    padding: 10px;
    text-align: right;
    background-color: #f0f0f0;
    border-radius: 4px;
    aspect-ratio: 4 / 3;
}

/* Reserved, Pending, and Available Days */
.calendar-day.confirmed[b-g8acunqr0s] {
    background-color: #e57272;
    color: black;
    cursor: not-allowed;
}

.calendar-day.pending[b-g8acunqr0s] {
    background-color: #ffc948;
    color: black;
    cursor: not-allowed;
}

.calendar-day.available[b-g8acunqr0s] {
    background-color: #a7c769;
    color: black;
    cursor: pointer;
}

/* Rent button */
.rent-btn[b-g8acunqr0s] {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.rent-btn:hover[b-g8acunqr0s] {
    background-color: #218838;
}


/* Responsive Design */
@media screen and (max-width: 900px) {
    .vehicle-calendar-section[b-g8acunqr0s] {
        flex-direction: column;
    }

    .availability[b-g8acunqr0s] {
        margin-top: 20px;
    }
}

@media screen and (max-width: 600px) {
    .vehicle[b-g8acunqr0s] {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }

    .vehicle-item img[b-g8acunqr0s] {
        width: 80px;
    }
}
